{# Plantilla personalizada para Swagger UI #}
<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <meta charset="UTF-8">
    {% endblock meta %}
    <title>{% block title %}{{ swagger_data.spec.info.title }}{% endblock title %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/nelmioapidoc/swagger-ui/swagger-ui.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/nelmioapidoc/style.css') }}">
    {% endblock stylesheets %}

    {% block swagger_data %}
        <script id="swagger-data" type="application/json">{{ swagger_data|json_encode(65)|raw }}</script>
    {% endblock swagger_data %}
</head>
<body>
    {% block svg_icons %}
        {# ... svg icons ... #}
    {% endblock svg_icons %}
    
    {% block header_block %}
        <header>
            {% block header %}
                <a id="logo" href="https://github.com/nelmio/NelmioApiDocBundle">
                    <img src="{{ asset('bundles/nelmioapidoc/logo.png') }}" alt="NelmioApiDocBundle">
                </a>
            {% endblock header %}
        </header>
    {% endblock header_block %}

    {% block swagger_ui %}
        <div id="swagger-ui" class="api-platform"></div>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bundles/nelmioapidoc/swagger-ui/swagger-ui-bundle.js') }}"></script>
        <script src="{{ asset('bundles/nelmioapidoc/swagger-ui/swagger-ui-standalone-preset.js') }}"></script>
    {% endblock javascripts %}

    <script src="{{ asset('bundles/nelmioapidoc/init-swagger-ui.js') }}"></script>

    {% block swagger_initialization %}
        <script type="text/javascript">
            window.onload = () => {
                loadSwaggerUI({{ swagger_ui_config|json_encode(65)|raw }});
            };
        </script>
    {% endblock swagger_initialization %}
</body>
</html> 